#first{
    text-align:center ;
    background-color: yellow;
    height: 40px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
}
.img_cont{
    width: 300px;
    height: auto;
}
.img_cont img{
    width: 100%;
}
.p_cont{
    width: fit-content ;
    margin: 0 auto;
    border: 1px solid black;
}
.p_cont p{
    text-align: center;

}